@import "vars";
@import "fonts";
@import "libs";

html {
	scroll-behavior: smooth;
}

body {
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	}
	&::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		border-radius: 6px;
	}
}

a {
	color: $white;
	text-decoration: none;
	position: relative;
	&::before {
		content: "";
		bottom: 0;
		right: 0;
		position: absolute;
		width: 0%;
		height: 1px;
		background-color: $white;
		transition: 0.6s;
	}
	&:hover {
		//color: $primarydark;
		&:before {
			width: 100%;
			left: 0;
		}
	}
	&.bs-0 {
		&::before {
			height: 0;
		}
	}
}

.btn {
	display: inline-flex;
    position: relative;
	overflow: hidden;
    z-index: 1;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: -50px;
		bottom: 0;
		left: 0;
		border-right: 50px solid transparent;
		transition: transform 0.5s;
		transform: translateX(-100%);
		z-index: -1;
	}
	&:hover:before,
	&:active:before,
	&:focus:before {
		transform: translateX(0);
	}
}


// обнуляем Global style bootstrap
.nav-link,
.dropdown-item {
	padding: 0;
	background-image: none;
	background-size: 0;
}
.navbar-toggler {
	&:focus {
		box-shadow: 0 0 0 0 !important;
		-webkit-box-shadow: 0 0 0 0 !important;
	}
}

// Убираем анимацию
.collapsing {
	-webkit-transition: none;
	transition: none;
	display: none;
}

@media  (max-width: 991px) {
	.navbar-collapse {
		position: fixed;
		width: 100%;
		background: $purple;
		margin-top: 55px;
		min-height: 100vh;
		visibility: visible;
		opacity: 1;
		z-index: 9;
	}
}